.inputBoxStyle {
  margin-top: -15px;
  width: 100%;
}
.buttStyle {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .inputBoxStyle {
    width: 100%;
  }
  .buttStyle {
    width: 100%;
  }
}
