.containerStyle {
  border: 0.4px solid#dfe5ee;
  box-sizing: border-box;
  width: 100%;
  min-height: 45vh;
  transition: 300ms;

  &:hover {
    transition: 300ms !important;
    transform: scale(1.02);
    .titleStyle {
      transition: 300ms;
      font-size: 1.23rem;
    }
    .subTitleStyle {
      font-size: 0.73rem;
    }
  }
}
