.mainStyle {
  background-color: #89d32a;
  min-height: 60vh;
  color: white;
}
.buttonStyle {
  background-color: transparent;
}
.divStyle {
  min-width: 20vw;
  border-bottom: 1px solid white;
}
.sectionStyle {
  width: 25vw;
  @media only screen and (max-width: 768px) {
    width: 100%;
    text-align: center;
  }
}
.imgDiv {
  width: 25vw;
  height: 30vh;
  border: 2px solid white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.containerStyle {
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}
