.mainStyle {
  background-color: #89d32a;
  height: 60vh;
  color: white;
}
.buttonStyle {
  background-color: transparent;
}
.divStyle {
  width: 20vw;
  border-bottom: 1px solid white;
}
.sectionStyle {
  width: 25vw;
}
