.side_bar {
    background-color: #313541;
    width: 5vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home {
    background-color: #E95656;
}
.nav_icon {
    width: 1.5rem;
}
.wrapper {
    width:95vw;
}