.containerStyle {
  height: 75px;
  background-color: #003478;
  color: white !important;
  z-index: 999;
}
.innerContainer {
  border: 1px solid white;
}

.nav {
  &:hover {
    border-bottom: 1px solid white;
  }
}
