.primary {
  border: 2px solid transparent;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
.bordered {
  border: none;
  border: 1px solid var(--primary-main);
}

.active {
  background-color: rgba(255, 255, 255, 0.3);
}

.danger {
  border-bottom: 2px solid red;
}
