.footer {
  background: var(--primary-main);
}

.pages {
  font-size: 12px;
}

.copyright {
  color: var(--primary-light);
}

@media only screen and (min-width: 768px) {
  .copyright {
    width: fit-content;
    margin-top: -4rem;
  }
}
