.containerStyle {
  transition: 300ms !important;
  background: whitesmoke;
  min-height: 320px !important;
  &:hover {
    transition: 300ms !important;
    background: black !important;
    opacity: 0.8;
    cursor: pointer;
    .dataStyle {
      transition: 300ms !important;
      color: white;
    }
    .iconStyle {
      transition: 300ms !important;
      display: flex !important;
    }
    .pdfIcon {
      transition: 200ms;
      display: none !important;
    }
    .pdfIcon2 {
      transition: 200ms;
      display: block !important;
    }
  }
}
.pdfIcon2 {
  transition: 200ms;
  display: none !important;
}
.dataStyle {
  transition: 300ms !important;
  display: block;
}
.iconStyle {
  transition: 300ms !important;
  display: none !important;
}
