.containerStyle {
  transition: 300ms !important;
  background: whitesmoke;
  min-height: 250px !important;
  &:hover {
    transition: 300ms !important;
    opacity: 0.8;
    transform: scale(1.05);
    cursor: pointer;
    // .pdfIcon {
    //   transition: 200ms;
    //   display: none !important;
    // }
    // .pdfIcon2 {
    //   transition: 200ms;
    //   display: block !important;
    // }
  }
}
.pdfIcon2 {
  transition: 200ms;
  display: none !important;
}
.dataStyle {
  transition: 300ms !important;
  display: block;
}
.iconStyle {
  transition: 300ms !important;
  display: none !important;
}
