@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

:root {
  --primary-main: #003478;
  --primary-accent: #f0f4f9;
  --primary-light: #7f99bb;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

* {
  outline: none !important;
}

button:active {
  transform: scale(0.96);
}

a {
  color: inherit !important;
  text-decoration: none !important;
}
.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

.text-extra-small {
  font-size: 0.6rem;
}
.text-small {
  font-size: 0.7rem;
}
.text-medium {
  font-size: 0.8rem;
}
.text-interSize {
  font-size: 0.9rem;
}
.text-middle {
  font-size: 1rem;
}
.text-large {
  font-size: 1.2rem;
}
.text-larger {
  font-size: 1.5rem;
}
.text-largest {
  font-size: 1.8rem;
}
.text-extraLarge {
  font-size: 2.4rem;
}

.bg-primary-main {
  background-color: var(--primary-main);
}

.text-primary {
  color: var(--primary-main) !important;
}
.text-light {
  color: var(--primary-light) !important;
}

.shadow-light {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.smTextCenter {
  @media only screen and (max-width: 768px) {
    text-align: center;
  }
}

textarea {
  resize: none;
}
