@import "~bootstrap/scss/bootstrap";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  outline: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.justify-center {
  justify-content: center;
}
.justify-space-evenly {
  justify-content: space-evenly;
}
.align-center {
  align-items: center;
}

.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

.text-extra-small {
  font-size: 0.6rem;
}
.text-small {
  font-size: 0.7rem;
}
.text-medium {
  font-size: 0.8rem;
}
.text-interSize {
  font-size: 0.9rem;
}
.text-large {
  font-size: 1.2rem;
}
.text-larger {
  font-size: 1.5rem;
}
.text-largest {
  font-size: 2.8rem;
}
.bg-white {
  background-color: white;
}

.midnightBlue {
  color: #003478 !important;
}
.lightSlateGrey {
  color: #7f99bb !important;
}

